body {
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}
.page8-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page8-frame {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page8-calendar {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.page8-image4 {
  top: 13px;
  left: 278px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.page8-text {
  top: 21px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-text02 {
  top: 21px;
  left: 368px;
  color: rgba(254, 168, 50, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-rectangle31 {
  top: 750px;
  left: 0px;
  width: 100%;
  height: 300px;
  position: absolute;
}
.page8-component {
  top: 788px;
  left: 50px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page8-group9 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page8-image6 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page8-text04 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-component1 {
  top: 788px;
  left: 370px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page8-group91 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page8-image61 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page8-text06 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-component2 {
  top: 788px;
  left: 690px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page8-group92 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page8-image62 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page8-text08 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-component3 {
  top: 788px;
  left: 1010px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page8-group93 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page8-image63 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page8-text10 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-component4 {
  top: 788px;
  left: 1330px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page8-group94 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page8-image64 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page8-text12 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-component5 {
  top: 788px;
  left: 1650px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page8-group95 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page8-image65 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page8-text14 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-rectangle33 {
  top: 100px;
  left: 250px;
  width: 1341px;
  height: 672px;
  position: absolute;
  border-radius: 43px;
}
.page8-text16 {
  top: 405px;
  left: 620px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page8-user {
  top: 0px;
  right: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.page8-search {
  top: 15px;
  right: 150px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.page8-ellipse6 {
  top: 620px;
  left: 415px;
  width: 119px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.page8-ellipse7 {
  top: 620px;
  left: 600px;
  width: 119px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.page8-ellipse8 {
  top: 620px;
  left: 770px;
  width: 119px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.page8-ellipse9 {
  top: 620px;
  left: 950px;
  width: 119px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.page8-ellipse10 {
  top: 620px;
  left: 1130px;
  width: 119px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.page8-ellipse11 {
  top: 620px;
  left: 1305px;
  width: 119px;
  height: 119px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.page8-polygon1 {
  top: 650px;
  left: 300px;
  width: 50px;
  height: 53px;
  position: absolute;
}
.page8-polygon2 {
  top: 650px;
  left: 1500px;
  width: 50px;
  height: 53px;
  position: absolute;
}
