body {
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}
.page6-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page6-frame {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page6-user {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 100px;
  height: 100px;
}
.page6-search {
  top: 15px;
  right: 150px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.page6-calendar {
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.page6-image4 {
  top: 13px;
  left: 278px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.page6-text {
  top: 21px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-text02 {
  top: 21px;
  left: 368px;
  color: rgba(254, 168, 50, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-rectangle31 {
  top: 750px;
  left: 0px;
  width: 100%;
  height: 300px;
  position: absolute;
}
.page6-component {
  top: 788px;
  left: 100px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page6-group9 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page6-image6 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page6-text04 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-component1 {
  top: 788px;
  left: 570px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page6-group10 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page6-image61 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page6-text06 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-component2 {
  top: 788px;
  left: 1090px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page6-group91 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page6-image62 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page6-text08 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-component3 {
  top: 788px;
  left: 1010px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page6-group92 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page6-image63 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page6-text10 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-component4 {
  top: 788px;
  left: 1330px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page6-group93 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page6-image64 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page6-text12 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-component5 {
  top: 788px;
  left: 1650px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page6-group94 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page6-image65 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page6-text14 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-text16 {
  top: 194px;
  left: 790px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-text18 {
  top: 301px;
  left: 910px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page6-text20 {
  top: 408px;
  left: 920px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 150px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
