body {
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}
.page3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page3-frame {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page3-rectangle31 {
  top: 870px;
  left: 0px;
  width: 100%;
  height: 171px;
  position: absolute;
}
.page3-component {
  top: 768px;
  left: 100px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page3-group10 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page3-image6 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page3-text {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-component1 {
  top: 788px;
  left: 570px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page3-group9 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page3-image61 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page3-text02 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-component2 {
  top: 788px;
  left: 1090px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page3-group91 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page3-image62 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page3-text04 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-component3 {
  top: 788px;
  left: 1010px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page3-group92 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page3-image63 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page3-text06 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-component4 {
  top: 788px;
  left: 1330px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page3-group93 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page3-image64 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page3-text08 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-calendar {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.page3-image4 {
  top: 13px;
  left: 278px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.page3-text10 {
  top: 21px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-weight: 1000;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-style: Extra Bold;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-text12 {
  top: 21px;
  left: 368px;
  color: rgba(254, 168, 50, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-component5 {
  top: 788px;
  left: 1650px;
  width: 130px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.page3-group94 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 199.71144104003906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page3-image65 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 129px;
  position: absolute;
}
.page3-text14 {
  top: 142px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-text16 {
  top: 213px;
  left: 520px;
  color: rgba(0, 0, 0, 1);
  width: 433px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-text18 {
  top: 209px;
  left: 1162px;
  color: rgba(0, 0, 0, 1);
  width: 506px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page3-rectangle29 {
  top: 172px;
  left: 350px;
  width: 131px;
  height: 131px;
  position: absolute;
}
.page3-rectangle30 {
  top: 166px;
  left: 992px;
  width: 137px;
  height: 137px;
  position: absolute;
}
.page3-user {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 100px;
  height: 100px;
}
.page3-search {
  top: 15px;
  right: 150px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.page3-rectangle34 {
  top: 459px;
  left: 500px;
  width: 956px;
  height: 213px;
  position: absolute;
  border-radius: 90px;
}
.page3-text20 {
  top: 517px;
  left: 820px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Extra Bold;
  text-align: center;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
